/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
sass/
|
|– base/
|   |– _reset.scss       # Reset/reset
|
|– components/
|   |– _buttons.scss     # Buttons
|   |– _carousel.scss    # Carousel
|   |– _cover.scss       # Cover
|   |– _dropdown.scss    # Dropdown
|
|– helpers/
|   |– _variables.scss   # Sass Variables
|   |– _functions.scss   # Sass Functions
|   |– _mixins.scss      # Sass Mixins
|   |– _helpers.scss     # Class & placeholders helpers
|
|– layout/
|   |– _grid.scss        # Grid system
|   |– _header.scss      # Header
|   |– _footer.scss      # Footer
|   |– _sidebar.scss     # Sidebar
|   |– _forms.scss       # Forms
|
|– pages/
|   |– _front-page.scss	 # Front-Page specific styles
|
|– themes/
|   |– _theme.scss       # Default theme
|   |– _admin.scss       # Admin theme
|
|– vendors/
|
|
`– main.scss             # primary Sass file
--------------------------------------------------------------*/

@font-face {
	font-family: 'Tulia';
	src: 	url('./public/fonts/tulia/tulia_regular-webfont.woff2'),
			url('./public/fonts/tulia/tulia_regular-webfont.woff')
}

@font-face {
	font-family: 'Georgia';
	src: 	url('./public/fonts/georgia/georgia.ttf');
}

@font-face {
	font-family: 'League Gothic';
	src: 	url('./public/fonts/league-gothic/LeagueGothic-Regular.otf');
}

/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/

@import "base/reset";

/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/

@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/helpers";

/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/events";

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/

@import "pages/front-page";
@import "pages/publications";

/*--------------------------------------------------------------
# themes
--------------------------------------------------------------*/

@import "themes/theme";
@import "themes/admin";

/*--------------------------------------------------------------
# vendors
--------------------------------------------------------------*/
