@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
sass/ 
| 
|– base/ 
|   |– _reset.scss       # Reset/reset 
| 
|– components/ 
|   |– _buttons.scss     # Buttons 
|   |– _carousel.scss    # Carousel 
|   |– _cover.scss       # Cover 
|   |– _dropdown.scss    # Dropdown 
| 
|– helpers/ 
|   |– _variables.scss   # Sass Variables 
|   |– _functions.scss   # Sass Functions 
|   |– _mixins.scss      # Sass Mixins 
|   |– _helpers.scss     # Class & placeholders helpers 
| 
|– layout/ 
|   |– _grid.scss        # Grid system 
|   |– _header.scss      # Header 
|   |– _footer.scss      # Footer 
|   |– _sidebar.scss     # Sidebar 
|   |– _forms.scss       # Forms 
| 
|– pages/ 
|   |– _front-page.scss	 # Front-Page specific styles
| 
|– themes/ 
|   |– _theme.scss       # Default theme 
|   |– _admin.scss       # Admin theme 
| 
|– vendors/
| 
| 
`– main.scss             # primary Sass file
--------------------------------------------------------------*/
@font-face {
  font-family: 'Tulia';
  src: url("./public/fonts/tulia/tulia_regular-webfont.woff2"), url("./public/fonts/tulia/tulia_regular-webfont.woff"); }

@font-face {
  font-family: 'Georgia';
  src: url("./public/fonts/georgia/georgia.ttf"); }

@font-face {
  font-family: 'League Gothic';
  src: url("./public/fonts/league-gothic/LeagueGothic-Regular.otf"); }

/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
button {
  background: none;
  border: 1px solid #ddd; }

button:hover {
  background: #ddd; }

.menu-toggle {
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin: 0 auto; }

.menu-toggle:hover {
  background: none; }

.menu-toggle:focus + div #primary-menu {
  display: block; }

#site-navigation a, .menu-primary-container a {
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

#site-navigation ul, .menu-primary-container ul {
  margin: 0;
  padding: 0;
  /* only needed if you have not done a CSS reset */ }

#site-navigation li, .menu-primary-container li {
  display: block;
  float: left;
  line-height: 30px;
  /* same as #site-navigation height */
  height: 30px;
  /* same as #site-navigation height */
  margin: 0;
  padding: 0;
  /* only needed if you don't have a reset */
  position: relative;
  /* this is needed in order to position sub menus */ }
  #site-navigation li a, .menu-primary-container li a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase; }
    #site-navigation li a:hover, .menu-primary-container li a:hover {
      color: #ffc904; }
    #site-navigation li a > span, .menu-primary-container li a > span {
      transform: translateY(4px) scale(1.2, 1.2);
      color: #ffc904; }
  #site-navigation li a:not(:only-child):after, .menu-primary-container li a:not(:only-child):after {
    font-family: 'Glyphicons Halflings';
    content: '\e252';
    color: #ffc907;
    margin-left: 5px; }

#site-navigation ul ul, .menu-primary-container ul ul {
  /* this targets all sub menus */
  display: none;
  /* hide all sub menus from view */
  position: absolute;
  background: #1e1e1e;
  top: 30px;
  /* same height as the top level menu -- height + padding + borders */
  padding-bottom: 5px; }

#site-navigation ul ul li, .menu-primary-container ul ul li {
  /* this targets all submenu items */
  float: none;
  /* overwriting our float up above */
  width: 300px;
  /* set to the width you want your sub menus to be. This needs to match the value we set below */ }
  #site-navigation ul ul li a, .menu-primary-container ul ul li a {
    /* target all sub menu item links */
    padding: 5px 10px;
    /* give our sub menu links a nice button feel */
    text-transform: none;
    font-weight: 400; }
  #site-navigation ul ul li a:not(:only-child):after, .menu-primary-container ul ul li a:not(:only-child):after {
    content: '\e250'; }
  #site-navigation ul ul li ul, .menu-primary-container ul ul li ul {
    /* target all second, third, and deeper level sub menus */
    left: 300px;
    /* this needs to match the sub menu width set above -- width + padding + borders */
    top: 0;
    /* this ensures the sub menu starts in line with its parent item */ }

#site-navigation ul li:hover > ul, .menu-primary-container ul li:hover > ul {
  display: block;
  /* show sub menus when hovering over a parent */
  z-index: 1; }

.nav-black {
  background-color: #000;
  height: 45px;
  clear: both;
  margin-bottom: 10px; }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 90%;
      max-width: 1280px; } }

/* This is to widen the default Bootstrap break point for the collapsible nav menu */
@media (max-width: 1000px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

/* .row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm, .col-1-md { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm, .col-2-md { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm, .col-3-md { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm, .col-4-md { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm, .col-5-md { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm, .col-6-md { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm, .col-7-md { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm, .col-8-md { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm, .col-9-md { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm, .col-10-md { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm, .col-11-md { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm, .col-12-md { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}*/
.menu-toggle {
  display: none; }

.site-header-scrolled {
  position: fixed;
  top: 0; }

.site-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 0px;
  z-index: 150; }
  .site-header .container {
    background: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-around;
    /*
		> div.row {
			width: auto;
			@include flexbox;
			justify-content: space-around;
		}
		*/ }
    .site-header .container .navbar-header {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-between; }
      .site-header .container .navbar-header button {
        margin-left: 200px; }
  .site-header .logo a {
    text-decoration: none; }
  .site-header .logo h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0; }
  .site-header #site-navigation {
    margin: auto;
    padding-top: 8px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none; }

footer {
  margin-top: 10px;
  text-align: center;
  padding: 20px 0;
  background-color: #000000;
  clear: both;
  width: 100%; }
  footer p {
    font-size: 14px;
    color: #fff; }

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/
.row {
  margin-top: 30px;
  margin-bottom: 30px; }

.title {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: baseline;
  color: black;
  margin: 0 auto 20px auto; }
  .title h1 {
    font-size: 48px;
    font-weight: 700; }
  .title a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    flex: 1;
    text-align: right;
    font-weight: 700; }

.yellow {
  background-color: #ffc904;
  color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .yellow a div {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: black;
    padding: 15px;
    color: #ffc904;
    display: inline-block; }
  .yellow img {
    height: 100%; }
  .yellow .yellow-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-right: 50px; }
    .yellow .yellow-title span {
      font-size: 48px;
      font-family: 'League Gothic', sans-serif;
      text-transform: uppercase;
      font-weight: 400; }

.no-max {
  max-width: none; }

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative; }
  .hero .hero-words {
    position: absolute;
    top: 20%;
    bottom: 35%;
    left: 10%; }
    .hero .hero-words .hero-title {
      background: rgba(255, 201, 4, 0.8);
      font-size: 45px;
      font-family: 'Tulia', sans-serif;
      padding: 5px 10px; }
    .hero .hero-words .hero-subtitle {
      background: rgba(0, 0, 0, 0.8);
      padding: 5px 10px;
      font-size: 20px;
      display: inline-block;
      font-family: 'Georgia', serif;
      color: white; }

.mission {
  display: flex; }
  .mission .mission-column {
    flex: 1;
    padding: 0px 40px; }
    .mission .mission-column h2 {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      font-size: 32px; }
    .mission .mission-column p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      line-height: 200%; }

.departments-container {
  display: flex; }
  .departments-container .departments-content {
    flex: 1; }
    .departments-container .departments-content .title {
      font-weight: 700;
      border-bottom: none; }
  .departments-container .dpeartments-aside {
    flex: 1; }

#menu-calltoaction {
  margin-top: 20px;
  text-align: center; }
  #menu-calltoaction li {
    display: inline-block;
    margin: 10px 10px;
    background: #ffc904;
    padding: 15px 20px; }
    #menu-calltoaction li a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: black;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase; }

.cah-news-site {
  display: none !important; }

.degree-programs {
  border-right: 1px solid black; }
  .degree-programs p {
    font-size: 18px;
    font-weight: 400; }
  .degree-programs ul {
    padding: 0; }
    .degree-programs ul a li {
      color: black;
      list-style: none;
      font-weight: 400;
      margin: 10px 0; }

/*--------------------------------------------------------------
# themes
--------------------------------------------------------------*/
html, body {
  font-family: 'Montserrat', sans-serif; }

a {
  font-weight: 500;
  color: #337ab7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

p, li {
  line-height: 25px;
  font-weight: 100; }

.entry-title, h1, h2, h3, h4, h5 {
  font-weight: 500; }

.entry-title {
  font-size: 2em;
  border-bottom: 3px solid #ffc907; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

.site-content {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -5; }

.line-yellow {
  background-color: #ffc907;
  height: 6px;
  z-index: -5; }

.wp-caption-text {
  font-size: 80%; }

/*--------------------------------------------------------------
# vendors
--------------------------------------------------------------*/
