@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
sass/ 
| 
|– base/ 
|   |– _reset.scss       # Reset/reset 
| 
|– components/ 
|   |– _buttons.scss     # Buttons 
|   |– _carousel.scss    # Carousel 
|   |– _cover.scss       # Cover 
|   |– _dropdown.scss    # Dropdown 
| 
|– helpers/ 
|   |– _variables.scss   # Sass Variables 
|   |– _functions.scss   # Sass Functions 
|   |– _mixins.scss      # Sass Mixins 
|   |– _helpers.scss     # Class & placeholders helpers 
| 
|– layout/ 
|   |– _grid.scss        # Grid system 
|   |– _header.scss      # Header 
|   |– _footer.scss      # Footer 
|   |– _sidebar.scss     # Sidebar 
|   |– _forms.scss       # Forms 
| 
|– pages/ 
|   |– _front-page.scss	 # Front-Page specific styles
| 
|– themes/ 
|   |– _theme.scss       # Default theme 
|   |– _admin.scss       # Admin theme 
| 
|– vendors/
| 
| 
`– main.scss             # primary Sass file
--------------------------------------------------------------*/
@font-face {
  font-family: 'Tulia';
  src: url("./public/fonts/tulia/tulia_regular-webfont.woff2"), url("./public/fonts/tulia/tulia_regular-webfont.woff"); }

@font-face {
  font-family: 'Georgia';
  src: url("./public/fonts/georgia/georgia.ttf"); }

@font-face {
  font-family: 'League Gothic';
  src: url("./public/fonts/league-gothic/LeagueGothic-Regular.otf"); }

/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
button {
  background: none;
  border: 1px solid #ddd; }

button:hover {
  background: #ddd; }

.menu-toggle {
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin: 0 auto; }

.menu-toggle:hover {
  background: none; }

.menu-toggle:focus + div #primary-menu {
  display: block; }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 90%;
      max-width: 1280px; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 52em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

.menu-toggle {
  display: none; }

.site-header-scrolled {
  position: fixed;
  top: 0; }

.site-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 150px;
  z-index: 150; }
  .site-header .logo h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0; }
  .site-header #site-navigation {
    margin: auto;
    padding-top: 8px;
    align-items: center;
    justify-content: center; }
    .site-header #site-navigation a {
      font-size: 14px;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #fff;
      text-decoration: none; }
    .site-header #site-navigation ul {
      margin: 0;
      padding: 0;
      /* only needed if you have not done a CSS reset */ }
    .site-header #site-navigation li {
      display: block;
      float: left;
      line-height: 30px;
      /* this should be the same as your #main-nav height */
      height: 30px;
      /* this should be the same as your #main-nav height */
      margin: 0;
      padding: 0;
      /* only needed if you don't have a reset */
      position: relative;
      /* this is needed in order to position sub menus */ }
      .site-header #site-navigation li a {
        display: block;
        padding: 0 15px;
        text-transform: uppercase; }
      .site-header #site-navigation li a:not(:only-child):after {
        content: '▼';
        margin-left: 5px; }
    .site-header #site-navigation ul ul {
      /* this targets all sub menus */
      display: none;
      /* hide all sub menus from view */
      position: absolute;
      top: 30px;
      /* this should be the same height as the top level menu -- height + padding + borders */ }
    .site-header #site-navigation ul ul li {
      /* this targets all submenu items */
      float: none;
      /* overwriting our float up above */
      width: 300px;
      /* set to the width you want your sub menus to be. This needs to match the value we set below */ }
      .site-header #site-navigation ul ul li a {
        /* target all sub menu item links */
        padding: 5px 10px;
        /* give our sub menu links a nice button feel */
        text-transform: none; }
      .site-header #site-navigation ul ul li a:not(:only-child):after {
        content: '▶';
        margin-left: 5px; }
      .site-header #site-navigation ul ul li ul {
        /* target all second, third, and deeper level sub menus */
        left: 300px;
        /* this needs to match the sub menu width set above -- width + padding + borders */
        top: 0;
        /* this ensures the sub menu starts in line with its parent item */ }
    .site-header #site-navigation ul li:hover > ul {
      display: block;
      /* show sub menus when hovering over a parent */ }

footer {
  text-align: left;
  padding: 25px 0; }
  footer p {
    font-size: 14px;
    color: #999; }

/*--------------------------------------------------------------
# pages
--------------------------------------------------------------*/
.section {
  max-width: 1000px;
  padding: 50px;
  background-color: white;
  margin: auto; }
  .section .title {
    border-bottom: 1px solid #eeeeee;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: baseline;
    margin: 0 auto 20px auto; }
    .section .title h1 {
      font-size: 48px; }
    .section .title a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      flex: 1;
      text-align: right;
      font-weight: 700; }

.yellow {
  background-color: #ffc904;
  color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .yellow a div {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: black;
    padding: 15px;
    color: #ffc904;
    display: inline-block; }
  .yellow img {
    height: 100%; }
  .yellow .yellow-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-right: 50px; }
    .yellow .yellow-title span {
      font-size: 48px;
      font-family: 'League Gothic', sans-serif;
      text-transform: uppercase;
      font-weight: 400; }

.no-max {
  max-width: none; }

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative; }
  .hero h3, .hero h2 {
    margin: 0;
    padding: 0;
    font-size: 85%; }
  .hero .hero-words {
    position: absolute;
    top: 25%;
    bottom: 35%;
    left: 10%; }
    .hero .hero-words .hero-title {
      background: rgba(255, 201, 4, 0.8);
      font-size: 64px;
      font-family: 'Tulia', sans-serif;
      padding: 20px; }
    .hero .hero-words .hero-subtitle {
      background: rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 24px;
      display: inline-block;
      font-family: 'Georgia', serif;
      color: white; }

.mission {
  display: flex; }
  .mission .mission-column {
    flex: 1;
    padding: 20px 40px; }
    .mission .mission-column h2 {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      font-size: 32px; }
    .mission .mission-column p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      line-height: 200%; }

.departments-container {
  display: flex; }
  .departments-container .departments-content {
    flex: 1; }
    .departments-container .departments-content .title {
      font-weight: 700;
      border-bottom: none; }
  .departments-container .dpeartments-aside {
    flex: 1; }

#menu-calltoaction {
  margin-top: 20px;
  text-align: center; }
  #menu-calltoaction li {
    display: inline-block;
    margin: 0 10px;
    background: #ffc904;
    padding: 15px 20px; }
    #menu-calltoaction li a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: black;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase; }

/*--------------------------------------------------------------
# themes
--------------------------------------------------------------*/
.site-content {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -5; }

/*--------------------------------------------------------------
# vendors
--------------------------------------------------------------*/
