.section {
	max-width: 1000px;
	padding: 50px;
	background-color: white;
	margin: auto;

	.title {
		border-bottom: 1px solid #eeeeee;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		align-items: baseline;
		
		margin: 0 auto 20px auto;
		h1 {
			font-size: 48px;
		}

		a {
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			flex: 1;
			text-align: right;
			font-weight: 700;
		}
	}
}

.yellow {
	background-color: rgb(255,201,4);
	color: black;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;

	a div {
		font-family: 'Montserrat', sans-serif;
		margin-left: 20px;
		text-transform: uppercase;
		font-weight: 700;
		background-color: black;
		padding: 15px;
		color: rgb(255,201,4);
		display: inline-block;
	}

	img {
		height: 100%;
	}

	.yellow-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 700;
		margin-right: 50px;

		span {
			font-size: 48px;
			font-family: 'League Gothic', sans-serif;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}

.no-max {
	max-width: none;
}

.hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
	
	
	.hero-words {
		position: absolute;
		top:20%;
		bottom: 35%;
		left: 10%;

		.hero-title {
			background: rgba(255,201,4,0.8);
			font-size: 45px;
			font-family: 'Tulia', sans-serif;
			padding:5px 10px;
		}

		.hero-subtitle {
			background: rgba(0,0,0,0.8);
			padding:5px 10px;
			font-size: 20px;
			display: inline-block;
			font-family: 'Georgia', serif;
			color: white;
		}
	}
}

.mission {
	display: flex;

	.mission-column {
		flex: 1;
		padding: 0px 40px;

		h2 {
			margin-bottom: 30px;
			text-transform: uppercase;
			font-weight: 700;
			font-family: 'Montserrat', sans-serif;
			letter-spacing: 1px;
			font-size: 32px;;
		}

		p {
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			line-height: 200%;
		}
	}
}

.departments-container {
	display: flex;

	.departments-content {
		flex: 1;

		.title {
			font-weight: 700;
			border-bottom: none;
		}
	}

	.dpeartments-aside {
		flex: 1;
	}
}

#menu-calltoaction {
	margin-top: 20px;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 10px;
		background: rgb(255,201,4);
		padding: 15px 20px; 

		a {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: black;
			text-decoration: none;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}