footer {
	margin-top:50px;
	text-align: center;
	padding: 50px 0;
	clear:both;
	width:100%;
	background-color:#000000;

	p {
		font-size: 14px;
		color: $white;
	}
	
	a {
		color: white;
		text-decoration: underline;
	}

	a:hover {
		color: $light-grey;
	}
}