#ucfhb {
	position: fixed !important;
}

.menu-toggle {
	display: none;
}

.site-header {
	margin-top: 30px;
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 0 30px;

	#site-navigation {
		margin: auto;
		max-width: 1000px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo {
			margin-right: 40px;
			h3 {
				font-family: 'Montserrat', sans-serif;
				font-size: 24px;
				font-weight: 700;
			}
		}

		.menu {
			flex: 1;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 10px;
				a {
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}