.menu-toggle {
	display: none;
}

.site-header-scrolled {
	position: fixed;
	top: 0;
}

.site-header {
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 5px 0px;
	z-index: 150;

	.container {
		background: none;
		@include flexbox;
		justify-content: space-around;

		.navbar-header {
			@include flexbox;
			@include flexWrap(nowrap);
			justify-content: space-between;

			button {
				margin-left: 200px;
			}
		}

		/*
		> div.row {
			width: auto;
			@include flexbox;
			justify-content: space-around;
		}
		*/
	}

	.logo {

				a {
					text-decoration: none;
				}

				h3 {
					color: white;
					font-family: 'Montserrat', sans-serif;
					font-size: 18px;
					font-weight: 500;
					margin:0; padding:0;
				}
}


	#site-navigation {

		margin: auto;
		padding-top:8px;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
	}


}
