#site-navigation {

    .open > a {
        background: none;
    }

    a {
        font-size: 12px;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }

    li {
        margin: 0;
        padding: 0;

        a {
            margin: 0;
            padding: 0px 15px;
            text-transform: uppercase;

            @media screen and (min-width: 1200px){
                &:hover {
                    color: rgb(255, 201, 4);
                    background: none;
                }
            }

            span.caret {
                color: rgb(255, 201, 4);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        ul ul {
            background: rgb(30, 30, 30);
            border: none;
            @include borderRadius(0);

            li {
                height: auto;
                width: 300px;
                padding: 5px 0px;

                a {
                    text-transform: none;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .dropdown-menu {
            padding-left: 10px;
        }

        ul ul li a {
            text-transform: none;
        }
    }

    ul.list-group {
        list-style-type: none;
        padding: 0px 0px 0px 15px;

        li {
            line-height: normal;
        }
    }
}
