.cah-events {

	h3 {
		color: $gold;
	}

	.cah-events-description {
		color: $medium-grey;
	}


	.cah-events-item {
		padding: 5px;

	}

	.cah-events-item:hover {
		background-color: #eee;
		cursor: pointer;
	}

	@media screen and (min-width: 992px) {
		max-width: 600px;

		.cah-events-items {

		}
	}
}