html, body {
	font-family: 'Montserrat', sans-serif;
}

a {	font-weight: 500;
	color: $link;
	text-decoration:none;}

a:hover {	text-decoration:underline;}

p, li, td, td a, label {
	line-height:1.5em; 
	font-weight:100;
}

td {font-size:88%;}

ul {
	list-style-position: inside;
	padding: 0;
	margin-top: 20px;
	a li {
		color: black;
		list-style: none;
		font-weight: 400;
		margin: 10px 0;
	}
}

.entry-content {
	p {
		display: inline-block !important;
	}

	ul {
		padding-left: 25px;
		list-style: disc outside none;

		li {
			padding: 10px 0;
		}
	}
}

.entry-header {
	//margin-top: 50px;
}

.entry-title, h1,h2,h3,h4,h5 {font-weight:500;
margin-top: 0px;}

.entry-title {font-size:2.5em;
			  
			  }

h1 { 
	font-size: 2.5em;
	letter-spacing: 1.3px;
}

h2{ font-size:1.8em;}
h3{ font-size:1.3em;}


.site-content {
	position: absolute;
    top: 50px;
    width: 100%;
    z-index: -5;
}

.line-yellow {
    background-color: $yellow;
    height: 6px;
	z-index: -5;
}

.wp-caption-text{font-size:80%;}

.content-scrolled {
	padding-top: 78px;
}

.splash {
	height: 40vh;
	width: 100%;
	border-bottom: 5px solid $gold;
	background-size: cover;
	background-color: black;
	background-position: center;
}

.yellow-line {
	display: inline-block;
	border-top: 3px solid $gold;
	width: 100px;
	left: 0;
	margin: 0 0 20px 0;
}

