html, body {
	font-family: 'Montserrat', sans-serif;
}

a {	font-weight: 500;
	color: $link;
	text-decoration:none;}

a:hover {	text-decoration:underline;}

p, li, td, td a, label {line-height:18px; font-weight:100;}

td {font-size:88%;}

ul {
		padding: 0;
		margin-top: 20px;
		a li {
			color: black;
			list-style: none;
			font-weight: 400;
			margin: 10px 0;
		}
	}

.entry-title, h1,h2,h3,h4,h5 {font-weight:500;}

.entry-title {font-size:2em;
			  
			  }

h1 { font-size:1.8em;}
h2{ font-size:1.5em;}
h3{ font-size:1.3em;}


.site-content {
	position: absolute;
    top: 50px;
    width: 100%;
    z-index: -5;
}

.line-yellow {
    background-color: $yellow;
    height: 6px;
	z-index: -5;
}

.wp-caption-text{font-size:80%;}

#content{ 
	margin-top: -150px;
	padding-top:150px; min-height:500px;
}

.content-scrolled {
	margin-top: unset;
}

.yellow-line {
	border-top: 3px solid $gold;
	width: 100px;
	margin: 0 0 20px 0;
}

