@mixin flexbox() {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flexBoxImportant() {

    display: -webkit-flex   !important;
    display: -moz-flex      !important;
    display: flex           !important;
}

@mixin flexWrap($wrap) {
    -webkit-flex-wrap:  $wrap;
    -moz-flex-wrap:     $wrap;
    flex-wrap:          $wrap;
}

@mixin flexDirection($dir) {

    -webkit-flex-direction: $dir;
    -moz-flex-direction:    $dir;
    flex-direction:         $dir;
}

@mixin transformation($args...) {

    -webkit-transform:  $args;
    -moz-transform:     $args;
    -ms-transform:      $args;
    transform:          $args;
}

@mixin justify($just) {

    -webkit-justify-content:    $just;
    -moz-justify-content:       $just;
    justify-content:            $just;
}

@mixin borderRadius($args...) {

    -webkit-border-radius:  $args;
    -moz-border-radius:     $args;
    border-radius:          $args;
}
